body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ebe8e8;
}
main{
    margin: 0 120px;
}
.header{
    display: flex;
    align-items: center;
}
.half-width{
    width: 50%;
}
.head-img img{
    width: 365.06px;
    margin-left: 131px;
}
h1{
    font-size: 55px;
    line-height: 80px;
    font-family: 'Yeseva One', cursive;
    margin-left: 17px;
}
h1::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 124px;
    left: 121px;
    top: 70px;
    background: #FF5959;
    border-radius: 5px;
}
.txt-color{
    color: #FFAD5A;
}
.half-width p{
    line-height: 28px;
    font-size: 18px;
}
.button{
    margin: 19px 0px 33px 0px;
}
a{
    padding: 8px 20px;
    background-color: #FF5959;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}


/* !-- MISSION SECTION --> */
.mission{
    margin-top: 65px;
}
h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
}
.card-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 31%;
    border-radius: 25px;
}
.card img{
    width: 130px;
    height: 130px;
    margin-top: 15px;
}
.card h4{
    font-weight: bold;
    font-size: 20px;
    margin-left: 25px;
}
.card p{
    font-size: 14px;
    line-height: 20px;
    margin: 0px 13px 20px 25px;
}
.first-card{
    background-color: rgba(79, 157, 166, 0.1);
}
.second-card{
    background-color: rgba(255, 89, 89, 0.1);
}
.third-card{
    background-color: #FFF4D6;
}


/* !-- Blog(DEVELOP and COMMUNITY) SECTION --> */
.develop-community{
    margin-top: 85px;
}
.develop{
    display: flex;
    align-items: center;
}
.develop-img img{
    width: 350px;
    height: 350px;
}
h3{
    font-size: 36px;
}
#project-img img{
    text-align: right;
    margin-left: 162px;
}


/* !Subscription SECTION --> */
.subscription-section{
    margin-top: 150px;
}
.subscription{
    text-align: center;
}
.subscription input{
    outline: none;
    height: 45px;
    width: 500px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 12px;
    border: none;
    border-radius: 5px;
}
textarea{
    width: 500px;
    outline: none;
    font-size: 18px;
    margin: 0;
    padding-left: 12px;
    border: none;
    border-radius: 5px;
}



/* !Footer SECTION --> */
footer{
    background-color: #000;
    text-align: center;
    margin-top: 150px;
}
.footer{
    padding: 40px 0;
}
footer h3{
    font-family: 'Lobster', cursive;
    color: #fff;
    display: inline-block;
    margin: 0;
}
footer p{
    color: #D9DBE1;
}